      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1460819719">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <h2>
      <a style="text-decoration: none;" href="https://www.goodreads.com/review/list/20967498-ilyass?shelf=read&utm_medium=api&utm_source=grid_widget">Ilyass's books</a>
    </h2>
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="The Perfect Theory: A Century of Geniuses and the Battle over General Relativity" href="https://www.goodreads.com/book/show/17165889-the-perfect-theory"><img alt="The Perfect Theory: A Century of Geniuses and the Battle over General Relativity" border="0" src="https://d.gr-assets.com/books/1363657463s/17165889.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Martian Dawn and Other Novels" href="https://www.goodreads.com/book/show/25228508-martian-dawn-and-other-novels"><img alt="Martian Dawn and Other Novels" border="0" src="https://d.gr-assets.com/books/1427454549s/25228508.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Android's Dream" href="https://www.goodreads.com/book/show/7081.The_Android_s_Dream"><img alt="The Android's Dream" border="0" src="https://d.gr-assets.com/books/1441762412s/7081.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="An Unwelcome Quest (Magic 2.0, #3)" href="https://www.goodreads.com/book/show/23249416-an-unwelcome-quest"><img alt="An Unwelcome Quest" border="0" src="https://d.gr-assets.com/books/1412456562s/23249416.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="A Calculated Life" href="https://www.goodreads.com/book/show/18516618-a-calculated-life"><img alt="A Calculated Life" border="0" src="https://d.gr-assets.com/books/1379504996s/18516618.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Spell or High Water (Magic 2.0 Book 2)" href="https://www.goodreads.com/book/show/20883025-spell-or-high-water"><img alt="Spell or High Water" border="0" src="https://d.gr-assets.com/books/1441742628s/20883025.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Off to Be the Wizard (Magic 2.0, #1)" href="https://www.goodreads.com/book/show/21240368-off-to-be-the-wizard"><img alt="Off to Be the Wizard" border="0" src="https://d.gr-assets.com/books/1441473424s/21240368.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Brave New World Revisited " href="https://www.goodreads.com/book/show/5481.Brave_New_World_Revisited"><img alt="Brave New World Revisited" border="0" src="https://d.gr-assets.com/books/1410136964s/5481.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Tartarin De Tarascon" href="https://www.goodreads.com/book/show/5975386-tartarin-de-tarascon"><img alt="Tartarin De Tarascon" border="0" src="https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png" /></a></div>
    <div class="gr_grid_book_container"><a title="Star-Dust" href="https://www.goodreads.com/book/show/21400948-star-dust"><img alt="Star-Dust" border="0" src="https://d.gr-assets.com/books/1394238181s/21400948.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Startup Growth Engines: Case Studies of How Today's Most Successful Startups Unlock Extraordinary Growth" href="https://www.goodreads.com/book/show/22595534-startup-growth-engines"><img alt="Startup Growth Engines: Case Studies of How Today's Most Successful Startups Unlock Extraordinary Growth" border="0" src="https://d.gr-assets.com/books/1434209014s/22595534.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The 7 Day Startup: You Don't Learn Until You Launch" href="https://www.goodreads.com/book/show/23290805-the-7-day-startup"><img alt="The 7 Day Startup: You Don't Learn Until You Launch" border="0" src="https://d.gr-assets.com/books/1441647358s/23290805.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Have Space Suit—Will Travel" href="https://www.goodreads.com/book/show/20417.Have_Space_Suit_Will_Travel"><img alt="Have Space Suit—Will Travel" border="0" src="https://d.gr-assets.com/books/1425593094s/20417.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Calculating God" href="https://www.goodreads.com/book/show/264950.Calculating_God"><img alt="Calculating God" border="0" src="https://d.gr-assets.com/books/1423491114s/264950.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Stuff Matters: Exploring the Marvelous Materials That Shape Our Man-Made World" href="https://www.goodreads.com/book/show/18222843-stuff-matters"><img alt="Stuff Matters: Exploring the Marvelous Materials That Shape Our Man-Made World" border="0" src="https://d.gr-assets.com/books/1382416634s/18222843.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Spin (Spin, #1)" href="https://www.goodreads.com/book/show/910863.Spin"><img alt="Spin" border="0" src="https://d.gr-assets.com/books/1406383726s/910863.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Vortex (Spin, #3)" href="https://www.goodreads.com/book/show/9359796-vortex"><img alt="Vortex" border="0" src="https://d.gr-assets.com/books/1312034516s/9359796.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Formula: How Algorithms Solve all our Problems … and Create More" href="https://www.goodreads.com/book/show/18160167-the-formula"><img alt="The Formula: How Algorithms Solve all our Problems … and Create More" border="0" src="https://d.gr-assets.com/books/1417493958s/18160167.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="What If?: Serious Scientific Answers to Absurd Hypothetical Questions" href="https://www.goodreads.com/book/show/21413662-what-if"><img alt="What If?: Serious Scientific Answers to Absurd Hypothetical Questions" border="0" src="https://d.gr-assets.com/books/1451351509s/21413662.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Twilight Zone: The Original Stories" href="https://www.goodreads.com/book/show/882029.The_Twilight_Zone"><img alt="The Twilight Zone: The Original Stories" border="0" src="https://d.gr-assets.com/books/1328135587s/882029.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" href="https://www.goodreads.com/user/show/20967498-ilyass">Ilyass's favorite books »</a>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Ilyass, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/20967498?cover_size=&hide_link=&hide_title=&num_books=20&order=&shelf=&sort=&widget_id=1460819719" type="text/javascript" charset="utf-8"></script>



