<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% if site.default_column == "two" %}  
  {% include sidebar.html %}
  <div class="page-content col-sm-8">
    {{ content }}
  </div>

  {% include post_pagination.html %}
  

  {% else %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include post_pagination.html %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
